<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" contents="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>OAuth2.0</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
</head>

<body>
	<section class="hero is-dark is-bold is-fullheight">
	
		<div class="hero-head">
			<nav class="navbar">
                <div class="navbar-brand">
                    <a class="navbar-item" href="https://bulma.io">
                      Oauth 2.0 Example
                    </a>
                  </div>
			</nav>
		</div>
		
		<div class="hero-body">
			<div class="container has-text-centered">
				{% block content %}
				{% endblock %}
			</div>
		</div>
	</section>
</body>

</html>
