{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
	<h3 class="title">Login</h3>
	<div class="box">
		{% with messages = get_flashed_messages() %}
		{% if messages %}
			<div class="notification is-danger">
				{{ messages[0] }}
			</div>
		{% endif %}
		{% endwith %}
        <h2 class="title is-2 has-text-grey-dark">
            Welcome, {{ data.name }}!
        </h2>
		<div class="content">
            <figure class="image">
                <img class="is-rounded" src="{{ data.image }}">
            </figure>
            <h4 class="is-4 has-text-grey">Google Profile Picture</h4>
            <h5 class="title is-5 has-text-grey-dark">Email: {{ data.email }}</h5>
        </div>
        <form method="GET" action="/logout">
            <button class="button is-block is-info is-large is-fullwidth">Logout</button>
        </form>
	</div>
</div>
{% endblock %}
			
