{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
	<div class="box">
		{% with messages = get_flashed_messages() %}
		{% if messages %}
			<div class="notification is-danger">
				{{ messages[0] }}
			</div>
		{% endif %}
		{% endwith %}

		<form method="GET" action="/login">
            <button class="button is-block is-info is-large is-fullwidth">Sign in with Google</button>
            <!-- <button class="button is-block is-info is-large is-fullwidth">Sign in with Microsoft</button> -->
		</form>
	</div>
</div>
{% endblock %}
			
